/*==============================================
[Magenta color stylesheet magenta.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
color: #f01479;
}
    a.button_full, a.button_small, .call_button a {
        background-color: #f01479;
    }
.button {
border: 1px solid #f01479;
color: #f01479;
}
.button.active {
background: #f01479;
}
#pages_maincontent h3{
color:#f01479;
}
.photo-categories a.active{
background-color:#f01479;
}
.post_date{
color:#f01479;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #f01479;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit {
    background-color: #ec0068;
}
ul.responsive_table li:first-child{
background-color:#f01479;
color:#FFFFFF;
}
li.table_row{
background-color:#e6e6e6;
}
.blog_nav a{
background-color:#f01479;
}

/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
background: url(../../images/colors/magenta/bg.jpg) no-repeat center center;
background-attachment:fixed;
-webkit-background-size: 100%; 
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover;
}
.navbarpages{
background:url(../../images/colors/magenta/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
background: #562037;
border-bottom:1px #692c46 solid;
}
.main-nav ul li a{
color:#c6a0b1;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/
.popup, .page_content_menu {
    background: #8a0068;
}
.popup-login, .popup-signup, .popup-forgot {
    background-color: #8a0068;
}
.toolbar:before {
  background-color: #49182d;
}
.navbar,
.toolbar,
.subnavbar {
    background: #5856d6;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/
.panel {
    background: #5856d6;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #9b4d5b solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon {
    background-color: #f01479;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a {
    background-color: #5856d6;
}